<%- include('../partials/header'); %>
<main>
    <h1><%= firstname + " " + inserts + " " + lastname %></h1>
    <h3><%= age %></h3>
    <p><%= birthday %></p>
</main>
<%- include('../partials/footer'); %>