<%- include('../partials/header'); %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1><%= firstname + " " + inserts + " " + lastname %></h1>
                <h3><%= age %></h3>
                <p><%= birthday %></p>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer'); %>